.header {
    background-color: transparent;
    width: 100%;
    padding: 18px 0;
}

.header_landing {
    background-color: #202020;
}

.header_main {
    background-color: transparent;
}

.header__logo {
    margin-right: 44px;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 18px 0 0;
    }

    .header__nav {
        padding: 0 30px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 18px 0 32px;
    }

    .header__nav {
        padding: 0 14px;
    }
}